$BasicWidth: 400px;
$HeaderHeight: 30px;
$BodyHeight: 200px;

@mixin box {
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
    text-align: center;
}

@mixin buttons{
    border-radius: 16px;
    border: none;
    padding: 6px 16px;
}

body{
    font-family: sans-serif;
    width: 100%;
    max-width: 1280px;
    margin: auto;
}

input{
    @include buttons;
    outline: none;
}

button{
    @include buttons;
    &:hover{
        background-color: pink;
        color: white;
        cursor: pointer;
    }
}

li{
    margin-right: 16px;
}

.input-area{
    background-color: rgb(189, 255, 255);
    width: $BasicWidth;
    height: $HeaderHeight;
    @include box;
}

.incomplete-area{
    background-color: rgb(200, 255, 237);
    width: $BasicWidth;
    height: $BodyHeight;
    @include box;
}

.complete-area{
    background-color: rgb(234, 255, 204);
    width: $BasicWidth;
    height: $BodyHeight;
    @include box;
}

.title{
    text-align: center;
    margin-top: 0;
    font-weight: bold;
    color: rgb(83, 83, 83);
}
.list-row{
    display: flex;
    align-items: center;
    padding-bottom: 4px;
}